{% extends 'base.html' %}

{% block extra_head %}
<style>

    /* The errorlist class doesn't appear in this file; it's auto-created when necessary by the `form` object. */
    .errorlist li {
      color: red;
    }

    label {
        text-align: right;
        display: inline-block;
        width: 150px;
        margin-top: .5em;
    }

</style>  
{% endblock %}

{% block header %}
{% endblock header %}

{% block content %}

<div id="formbox" style="width: 600px; margin: auto; padding-top: 2em;">

    <fieldset name="Single File Upload">
        <!-- <form action="/form_handler/" method="post"> -->
        <form action="{% url 'find_url' %}" method="post">
            {% csrf_token %}
        
            {{ form.non_field_errors }}

            <!-- Course-code Field -->
            {{ form.course_code.errors }}
            <label for="course_code" style="text-align: right; display: inline-block; width: 150px; margin-top: 1em;">Course-code:</label>
            {{ form.course_code }}
            <br>
            
            <!-- Email-address Field -->
            {{ form.course_code.errors }}
            <label for="emailAddress" style="text-align: right; display: inline-block; width: 150px; margin-top: .5em;">Instructor-email:</label>
            {{ form.email_address }}
            <br>

            <!-- Year Field -->
            <!-- <label for="year" style="text-align: right; display: inline-block; width: 150px; margin-top: .5em;">Reading-list Year:</label> -->
            {{ form.year.label_tag }}
            {{ form.year }}
            <br>
            
            <!-- Term Field -->
            <label for="term" style="text-align: right; display: inline-block; width: 150px; margin-top: .5em;">Reading-list Term:</label>
            {{ form.term }}
            <br>

            <!-- Course-Title Field -->
            <label for="course_title" style="text-align: right; display: inline-block; width: 150px; margin-top: .5em;">Course Title:</label>
            {{ form.course_title }}
            <br>
            
            <!-- Submit Button -->
            <input type="submit" value="Submit" style="display: block; margin: 2em auto 0; width: 10em;">
        </form>
    </fieldset>

    <div id="usage" style="font-style: italic; margin-top: 1.5em;">
        <p>Usage:</p>
        <p>(all fields required)</p>
        <ul>
            <li style="margin-bottom: 0.5em;">Enter a course-code in the format "HIST_1234a" (no quotes).</li>
            <li style="margin-bottom: 0.5em;">Enter the professor's email-address.</li>
            <li style="margin-bottom: 0.5em;">Enter the 4-digit year that will be part of the Leganto course-code.</li>
            <li style="margin-bottom: 0.5em;">Enter the term that will be part of the Leganto course-code.</li>
            <li style="margin-bottom: 0.5em;">Enter the title for the course, for the Leganto reading-list file.</li>
            <li style="margin-bottom: 0.5em;">Then click the "Submit" button.</li>
            <li style="margin-bottom: 0.5em;">OCRA will be searched for reading-list data, and a downloadable tsv-file (tab-separated-values) for Leganto will be prepared.</li>
        </ul>
    </div>

</div>

{% endblock content %}
